body{
    margin: 0;
    font-family: Manrope, sans-serif;
}
.body{
    background-color: hsl(230, 100%, 99%);
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
}
.container{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 30% 0 30%;
    padding: 0 0 14% 0;
    align-items: center;    
}
.body__header {
    text-align: center;
    height: 20vh;
    padding-top: 100px;
    background-image: url(./images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}
.body__header> h1{
    font-size: 1.6em;
    font-weight: 800;
    margin:0px;
    color: hsl(227, 35%, 25%);
}
.body__header >h2{
    font-size: 0.7em;
    font-weight: 600;
    color: hsl(225, 20%, 60%);
}
.body__card{
    background-color: white;
    padding: 30px 0 30px 0;
    width:500px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 7px 18px rgba(0,0,0,0.08);
}
.body__cardheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}
.body__cardpageviews{
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 2px;
    color: hsl(225, 20%, 60%);
}
.body__cardpricingamount{
    font-weight:900;
    color: hsl(227, 35%, 25%);
    font-size:2em;
}
.body__cardmonthlyandyearly{
    margin-bottom: 30px;
    display:inline-flex;
    font-weight: 600;
    font-size: 0.75em;
    color: hsl(225, 20%, 60%);
    align-items: center;
    padding: 4% 7% 4% 28%;
    border-bottom:hsl(223, 50%, 87%) 1px solid;
}
.body__carddiscount{
    background-color:hsl(14, 92%, 95%);
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    margin: 0 0 0 13px;
    color:hsl(15, 100%, 70%);
}
.body__cardlower{
    display:flex;
    padding: 0 30px 0 30px;
}
.body__cardfeatures{
    display:flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.body__cardfeatures>h4{
    margin: 3px;
    font-weight: 600;
    font-size: 0.75em;
    color: hsl(225, 20%, 60%);
}
.image-cardfeatures{
    margin-right: 5px;
}
.body__cardbtn{
    height: 40px;
    border-radius: 30px;
    width: 150px;
    font-family: Manrope;
    font-weight: bold;
    margin: 3% 0 0 30%;
    background-color: hsl(227, 35%, 25%);
    border-style: none;
    color: hsl(226, 100%, 87%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Switch */
/* .body__cardbutton
{
    position: relative;
    top: 50%;
    background-color: hsl(223, 50%, 87%);
    width: 40px;
    height: 22px;
    margin: 0px 10px 0 10px;
    overflow: hidden;
}

.body__cardbutton.r, .body__cardbutton.r .body__cardlayer
{
    border-radius: 100px;
}

.body__cardbutton.b2
{
    border-radius: 2px;
}

.body__cardcheckbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.body__cardknobs
{
    z-index: 2;
}

.body__cardlayer
{
    width: 100%;
    background-color: hsl(223, 50%, 87%);
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button */
/* #body__cardbutton1 .body__cardknobs:before
{
    content: ' ';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 6px;
    padding: 8px 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#body__cardbutton1 .body__cardcheckbox:checked + .body__cardknobs:before
{
    content: ' ';
    left: 23px;
    background-color: white;
}

#body__cardbutton1 .body__cardcheckbox:checked ~ .body__cardlayer
{
    background-color: #fcebeb;
}

#body__cardbutton1 .body__cardknobs, #body__cardbutton1 .body__cardknobs:before, #body__cardbutton1 .body__cardlayer
{
    transition: 0.3s ease all;
} */ 

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: 0 12px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggleslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(225, 20%, 60%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggleslider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggleslider {
    background-color:hsl(174, 86%, 45%);
  }
  
  input:focus + .toggleslider {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
  }
  
  input:checked + .toggleslider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .toggleslider.round {
    border-radius: 34px;
  }
  
  .toggleslider.round:before {
    border-radius: 50%;
  }

/*Slider Css */

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 88%;
    height: 8px;
    margin: 40px 29px;
    border-radius: 5px;
    background: hsl(224, 65%, 95%);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 8px 18px hsl(174, 86%, 45%);
    background-image: url('./images/icon-slider.svg');
    background-color:hsl(174, 86%, 45%);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  #slidecontainer__overlay{
    content: " ";
    position: relative;
    border-radius: 5px;
    display: block;
    height: 8px;
    width: 88%;
    margin: -48px 29px 40px 29px;
    background: hsl(174, 86%, 45%);
  }
  
  /* .slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('./images/icon-slider.svg');
    cursor: pointer;
  } */